[build]
  base = "frontend"
  command = "npm install && npm run build"
  publish = "dist"

[build.environment]
  VITE_API_BASE = "https://real-estate-listing-3t6e.onrender.com"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
